.active {
    color: #0b5ed7 !important;
    font-weight: bold;
    border-bottom: 3px solid #0b5ed7;
  }

  .navbar-brand{
    color:white 
  }

  
  .navbar-brand:hover{
    color: #d70b0b;
  }

  .nav-link{
    color: white;
  }

  .nav-link:hover{
    color: #d70b0b;
  }

